# Node / Next.js
node_modules
.npm
.pnpm-store
.next
out
dist
build
.turbo
.cache

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Environment files
.env*.local

# Git / VCS
.git
.gitignore
.gitattributes

# Editors / OS
.vscode
.idea
*.swp
.DS_Store
Thumbs.db

# Other
coverage
