NODE_ENV=development
NEXT_PUBLIC_PYTHON_API_KEY=91940ba1-ec71-4d4d-bd14-bbde49ce50cc
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com
APP_URL_INTERNAL=http://backend:3000
NEXT_PUBLIC_APP_URL=http://localhost